In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
PATH = 'E:/Test/'
#df = pd.read_csv(PATH + 'item_list1.csv',header=0,skipinitialspace=True)
df = pd.read_csv(PATH + 'item_list1.csv',header=0)
df.head()

,PRICE_GROUP,UPC,ITEM_DESCRIPTION,SIZE,CATEGORY_LEVEL_01,CATEGORY_LEVEL_02,CATEGORY_LEVEL_03,CATEGORY_LEVEL_04,IN_SERVICE_DATE
0,50089,1329,PRIVATE LABEL PURIFIED WATER 35PK,35/16.9 FO,GROCERY,GROCERY,GROC-ALL OTHER,WATER,2/15/2016
1,1500,2591,PRIVATE LABEL PURIFIED WATER 24PK,24/16.9 FO,GROCERY,GROCERY,GROC-ALL OTHER,WATER,2/15/2016
2,27406,4068,ONIONS GREEN BUNCH RPC,1 CT,PRODUCE,FRESH PRODUCE,VEGETABLES,VEGETABLES SALAD,5/7/2016
3,17302,4077,CORN WHITE IN HUSK BULK,1 RW,PRODUCE,FRESH PRODUCE,VEGETABLES,CORN,5/7/2016
4,17302,4078,CORN YELLIN HUSK BULK,48 CT,PRODUCE,FRESH PRODUCE,VEGETABLES,CORN,5/7/2016

In [3]:
#df[df['CATEGORY_LEVEL_03']=='VEGETABLES']
sum(df['CATEGORY_LEVEL_03'] == 'HEALTH') # it seems the elevment includes the some spaces

0

In [4]:
df.columns

Index(['PRICE_GROUP', 'UPC', 'ITEM_DESCRIPTION', 'SIZE', 'CATEGORY_LEVEL_01',
       'CATEGORY_LEVEL_02', 'CATEGORY_LEVEL_03', 'CATEGORY_LEVEL_04',
       'IN_SERVICE_DATE'],
      dtype='object')

In [5]:
#cols = ['PRICE_GROUP', 'UPC',  'CATEGORY_LEVEL_01','CATEGORY_LEVEL_02', 'CATEGORY_LEVEL_03', 'CATEGORY_LEVEL_04']
cols = [ 'CATEGORY_LEVEL_01','CATEGORY_LEVEL_02', 'CATEGORY_LEVEL_03', 'CATEGORY_LEVEL_04']
# remove the leading/trailing whitespace cause we need the element to filter
for col in cols:
    df[col] = df[col].str.strip() # remove the leading/trailing whitespace

In [6]:
#df[df['CATEGORY_LEVEL_03']=='VEGETABLES']
sum(df['CATEGORY_LEVEL_03'] == 'HEALTH') # DURG/GM -- GM --HEALTH

535

In [7]:
#sum(df['CATEGORY_LEVEL_03'] == 'LUNCHMEAT')
# the LUNCHMEANT not in category_level_03, but in 04: MEAN - PKG MEAT -- PKG MEANT - LUNCHMEAT
sum(df['CATEGORY_LEVEL_04'] == 'LUNCHMEAT')

75

In [8]:
#df['CATEGORY_LEVEL_03'].value_counts()
df[df['CATEGORY_LEVEL_03'] == 'HEALTH'][:5]

,PRICE_GROUP,UPC,ITEM_DESCRIPTION,SIZE,CATEGORY_LEVEL_01,CATEGORY_LEVEL_02,CATEGORY_LEVEL_03,CATEGORY_LEVEL_04,IN_SERVICE_DATE
14,29327,834612203,SLMFST 321 CHOC ROYAL 4PK,4/11 FO,DRUG/GM,HBC,HEALTH,DIETARY AID PRDCT/MED LIQ NUTR,8/29/2015
15,29327,834612204,SLMFST 321 MLK CHO SHK4PK,4/11 FO,DRUG/GM,HBC,HEALTH,DIETARY AID PRDCT/MED LIQ NUTR,8/29/2015
16,29327,834628710,SLMFST RTD MLKCHOC 6PKBNS,6/10 FO,DRUG/GM,HBC,HEALTH,DIETARY AID PRDCT/MED LIQ NUTR,8/29/2015
17,29327,834628711,SLMFST RTD CHC RYL 6PKBNS,6/10 FO,DRUG/GM,HBC,HEALTH,DIETARY AID PRDCT/MED LIQ NUTR,8/29/2015
18,29327,834628713,SLMFST RTD CAPPDLG 6PKBNS,6/10 FO,DRUG/GM,HBC,HEALTH,DIETARY AID PRDCT/MED LIQ NUTR,8/29/2015

In [9]:
df[df['CATEGORY_LEVEL_04'] == 'LUNCHMEAT'][:5] # LUNCHMEATN出现在4列

,PRICE_GROUP,UPC,ITEM_DESCRIPTION,SIZE,CATEGORY_LEVEL_01,CATEGORY_LEVEL_02,CATEGORY_LEVEL_03,CATEGORY_LEVEL_04,IN_SERVICE_DATE
910,38554,1111008505,PRIVATE LABEL BLACK FOREST HAM,9 OZ,MEAT,PKG MEAT,PKG MEAT,LUNCHMEAT,7/8/2017
911,38554,1111008506,PRIVATE LABEL HONEY HAM,9 OZ,MEAT,PKG MEAT,PKG MEAT,LUNCHMEAT,7/8/2017
912,38554,1111008507,PRIVATE LABEL HONEY TURKEY,9 OZ,MEAT,PKG MEAT,PKG MEAT,LUNCHMEAT,7/8/2017
913,38554,1111008508,PRIVATE LABEL MSQT SMKD TRKY BREAST,9 OZ,MEAT,PKG MEAT,PKG MEAT,LUNCHMEAT,7/8/2017
914,38554,1111008509,PRIVATE LABEL OVN RSTD TRKY BREAST,9 OZ,MEAT,PKG MEAT,PKG MEAT,LUNCHMEAT,7/8/2017

In [12]:
#df['IN_SERVICE_DATE'].describe()
#pd.to_datetime(df['IN_SERVICE_DATE'],format='%m/%d/%Y') # '12/12/205'
#df[df['IN_SERVICE_DATE'] == '12/12/205']['IN_SERVICE_DATE'] = '12/12/2015'
#pd.to_datetime(df['IN_SERVICE_DATE'],format='%m/%d/%Y')

df.loc[df['IN_SERVICE_DATE'] == '12/12/205','IN_SERVICE_DATE'] = '12/12/2015'
#  unknown date
df.loc[df['IN_SERVICE_DATE'] == 'UNKNOWN','IN_SERVICE_DATE'] = df['IN_SERVICE_DATE'].mode
pd.to_datetime(df['IN_SERVICE_DATE'],format='%m/%d/%Y', errors='ignore')[:5]

0    2/15/2016
1    2/15/2016
2     5/7/2016
3     5/7/2016
4     5/7/2016
Name: IN_SERVICE_DATE, dtype: object

In [14]:
# check if possible to filter the anomalies date like '12/12/205' and 'unknown'
df.iloc[0][-1]
date  = df.iloc[0][-1] # '2/15/2016'

import re
x = re.search('^([1-9] |1[0-9]| 2[0-9])(./-)([1-9] |1[0-2])(./-|)20[0-9][0-9]$',date)

In [13]:
#df[df['CATEGORY_LEVEL_04'] == 'LUNCHMEAT'].index
#df[df['CATEGORY_LEVEL_03'] == 'HEALTH'].index
#pd.concat(df[df['CATEGORY_LEVEL_04'] == 'LUNCHMEAT'].index , df[df['CATEGORY_LEVEL_03'] == 'HEALTH'].index)

# find the index of  rows which  match 'LUNCHMEAT' and 'HEALTH'
temp = list(df[df['CATEGORY_LEVEL_04'] == 'LUNCHMEAT'].index) + list(df[df['CATEGORY_LEVEL_03'] == 'HEALTH'].index)

# group by and count the items.
df.iloc[sorted(temp)][:].groupby(['CATEGORY_LEVEL_01','CATEGORY_LEVEL_02', 'CATEGORY_LEVEL_03', 'CATEGORY_LEVEL_04']).count()['UPC']

CATEGORY_LEVEL_01  CATEGORY_LEVEL_02  CATEGORY_LEVEL_03  CATEGORY_LEVEL_04
DRUG/GM            HBC                HEALTH             ADULT NUTRITION                    14
                                                         ANALGESICS                        119
                                                         COLD & FLU                         64
                                                         DIETARY AID PRDCT/MED LIQ NUTR     32
                                                         DIGESTIVE HEALTH                   87
                                                         EYE & EAR CARE PRODUCTS            15
                                                         FIRST AID PRODUCTS                 48
                                                         FOOT CARE PRODUCTS                 10
                                                         NF NUTRITION VITAMINS               3
                                                         SINUS & ALLERGY                    42
                                                         SMOKING CESSATIONS                 45
                                                         VITAMIN PRODUCTS                   56
MEAT               PKG MEAT           PKG MEAT           LUNCHMEAT                          75
Name: UPC, dtype: int64