In [4]:
target_url = ("http://archive.ics.uci.edu/ml/machine-learning-databases/"
             "glass/glass.data")
df = pd.read_csv(target_url,header=None,sep=",",prefix='V')
#df = pd.read_csv(target_url,header=0,sep=",")
df.head()

   V0       V1     V2    V3    V4     V5    V6    V7   V8   V9  V10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0    1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0    1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0    1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0    1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0    1

In [5]:
df.shape

(214, 11)

In [9]:
df['V10'].value_counts() # unblance label

2    76
1    70
7    29
3    17
5    13
6     9
Name: V10, dtype: int64

In [ ]:
names = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']