In [1]:
'''
__author__ = 'Lin Cheng'
retail data merge and outlier check
'''
import numpy as np
import pandas as pd
import json

In [3]:
PATH = 'E:/test/'
aud = pd.read_csv(PATH + 'auditors.csv',header=0)
pri = pd.read_csv(PATH + 'prices.csv',header=0)
str = pd.read_json(PATH + 'stores.json')

In [4]:
aud.columns,pri.columns,str.columns

(Index(['Auditor ID', 'First', 'Last', 'Region'], dtype='object'),
 Index(['Auditor ID', 'Date', 'Price', 'Store ID', 'UPC'], dtype='object'),
 Index(['Banner', 'Region', 'Store ID'], dtype='object'))

In [10]:
pri.shape

(12315, 5)

In [6]:
aud.Region.value_counts(),str.Region.value_counts()

(Texas                  2
 Kansas                 2
 New York               2
 Northern California    2
 Name: Region, dtype: int64, Hawaii                 6
 Texas                  6
 Kansas                 6
 New York               5
 Northern California    5
 Name: Region, dtype: int64)

In [8]:
pd1 = pd.merge(pri,str, how='left',on='Store ID')
pd2 = pd.merge(pd1,aud, how='left',on='Auditor ID')

In [9]:
(pd2['Region_x'] == pd2['Region_y']).count() # the auditor's region is match with store's region

12315

In [11]:
pd3 = pd2[['Banner','UPC','Date','Price','Region_x']]

In [12]:
pd3.head()

    Banner        UPC      Date  Price             Region_x
0  Walmart  268588472  10/18/17  24.95  Northern California
1  Walmart  475245085  10/27/17  49.71  Northern California
2  Walmart  126967843  10/20/17  25.75  Northern California
3  Walmart  708930835  10/23/17  18.81  Northern California
4  Walmart  325885139  10/23/17  33.32  Northern California

In [13]:
pd4 = pd.pivot_table(pd3,'Price',['Banner','UPC','Date'],'Region_x')

In [14]:
pd4.head()

Region_x                   Kansas  New York  Northern California  Texas
Banner  UPC      Date
Safeway 11873171 10/17/17     NaN       NaN                  NaN   5.19
                 10/19/17     NaN       NaN                 6.09    NaN
        15052612 10/22/17     NaN       NaN                  NaN  54.49
                 10/29/17   53.99       NaN                  NaN    NaN
        16482322 10/17/17   17.89       NaN                  NaN    NaN

In [16]:
pd4[['Kansas','New York','Northern California','Texas']].count()

Region_x
Kansas                 3087
New York               3025
Northern California    1634
Texas                  3765
dtype: int64

In [17]:
pd4[['Kansas','New York','Northern California','Texas']].count().sum()

11511

In [18]:
pd4.to_csv(PATH + 'retail_0917.csv')